torch 
torchvision
torchaudio
discord.py==2.4.0
docx2txt==0.8
openpyxl==3.1.5
redis==5.2.1
sentence-transformers==3.4.1
sentencepiece==0.2.0
chromadb==0.6.3
llama-index==0.10.65
llama-index-llms-ollama==0.2.2
llama-index-embeddings-huggingface==0.2.3